{layout '../../../main.latte'}
{block title}{$title}{/block}
{block content}
<div class='container'>
Disini dsa dasdsa dsad gff sh\gdh gsfgasdfafghsgsfdfshdgafgsgh gdsgdsfgdfgfd gadf gdsafshdgafdsgs 
</div>
{block js}{/block}