@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap');

:root {
    --primary: #1B84FF;
    --primary-hover: #0f6fdd;
    --primary-transparent: rgba(27, 132, 255,.14);
    --aksen-1: #335e71;
    --aksen-2: #deba4c;
    --abu: #e2e2e2;
    --abu2: #d1cece;
    --abu3: #a0a0a0;
    --light: #f0f0f0;
    --dark: #1A120B;
    --dark-hover: #2b241f;
    --font: #181C14;
    --putih: #fff;
    --danger: #e61010;
    --danger-transparent: rgba(230, 16, 16,.25);
    --success: #009980;
    --success-transparent: rgba(0, 153, 128,.5);
} 

* {
    font-family: Roboto, sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    background-color: var(--light);
    color: var(--font);
}

.text-danger { color: var(--danger); }
.text-success { color: var(--success); }

.stroke-danger { stroke: var(--danger); }
.stroke-success { stroke: var(--success); }

.full { width: 100%; }

.p-20 { padding: 20px; }

/*
    Title
*/

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}












/*
    Sidebar
*/

.sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--dark);
    color: var(--light);
}

.sidebar > .sidebar-top {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.sidebar > .sidebar-top > .logo{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.sidebar > .sidebar-top > .logo > img{
    width: 100%;
}

.sidebar > .sidebar-top > .label{
    font-size: 18pt;
    font-weight: 900;
}

.sidebar > .sidebar-menu {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 100px;
    left: 0;
}

.sidebar > .sidebar-menu > ul {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: none;
    scroll-behavior: smooth;
    padding: 20px;
    border-top: 1px solid var(--dark-hover);
    border-bottom: 1px solid var(--dark-hover);
}

.sidebar > .sidebar-menu > ul::-webkit-scrollbar {
    width: 5px;
    background-color: var(--dark);
}

.sidebar > .sidebar-menu > ul::-webkit-scrollbar-track {
    width: 5px;
    background-color: var(--dark);
}

.sidebar > .sidebar-menu > ul::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--dark-hover);
    border-radius: 3px;
}

.sidebar > .sidebar-menu > ul > div {
    padding: 30px 0 15px 0;
    font-weight: 500;
    font-size: 10pt;
    text-transform: uppercase;
    border-bottom: 1px solid var(--dark-hover);
    margin-bottom: 10px;
}

.sidebar > .sidebar-menu > ul > li > a{
    position: relative;
    display: block;
    width: 100%;
    height: 45px;
    color: var(--putih);
    border-radius: 8px;
}

.sidebar > .sidebar-menu > ul > li > a > .badge {
    position: absolute;
    top: 11px;
    right: 10px;
    background-color: var(--danger);
    padding: 3px 5px;
    border-radius: 4px;
    text-align: center;
    font-size: 10pt;
    font-weight: 500;
}

.sidebar > .sidebar-menu > ul > li:hover > a,
.sidebar > .sidebar-menu > ul > li.active > a {
    background-color: var(--dark-hover);
}

.sidebar > .sidebar-menu > ul > li > a > svg:nth-child(1){
    position: absolute;
    width: 25px;
    top: 8px;
    left: 10px;
    fill: var(--light);
    transition: fill .5s;
}

.sidebar > .sidebar-menu > ul > li > a > svg:nth-child(2){
    position: absolute;
    width: 18px;
    top: 12px;
    right: 10px;
    fill: var(--light);
    transition: fill .5s;
}

.sidebar > .sidebar-menu > ul > li:hover > a > svg,
.sidebar > .sidebar-menu > ul > li.active > a > svg{
    fill: var(--aksen-2);
    transition: fill .5s;
}

.sidebar > .sidebar-menu > ul > li > a > span{
    position: absolute;
    top: 12px;
    left: 45px;
}

.sidebar > .sidebar-menu > ul > li > ul {
    height: 0px;
    overflow: hidden;
    transition: height .5s;
}

.sidebar > .sidebar-menu > ul > li > ul.show {
    height: max-content;
    overflow: hidden;
    transition: height .5s;
}

.sidebar > .sidebar-menu > ul > li > ul > li > a{
    position: relative;
    display: block;
    width: auto;
    height: 45px;
    margin-left: 40px;
    color: var(--putih);
    border-radius: 8px;
    padding-left: 5px;
}

.sidebar > .sidebar-menu > ul > li:hover > ul > li > a{
    background-color: none;
}

.sidebar > .sidebar-menu > ul > li:hover > ul > li:hover > a{
    color: var(--aksen-2);
}

.sidebar > .sidebar-menu > ul > li > ul > li > a > span{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.sidebar > .sidebar-bottom {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    height: 60px;
    border-radius: 8px;
    background-color: var(--dark-hover);
    padding: 10px;
    cursor: pointer;
    transition: all .5s;
}

.sidebar > .sidebar-bottom:hover {
    -webkit-box-shadow: 1px 3px 21px 1px rgba(222, 186, 76,0.37);
    -moz-box-shadow: 1px 3px 21px 1px rgba(222, 186, 76,0.37);
    box-shadow: 1px 3px 21px 1px rgba(222, 186, 76,0.37);
    transition: all .5s;
}

.sidebar > .sidebar-bottom > .cover {
    width: 40px;
    height: 40px;
    background-color: var(--primary-transparent);
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--light);
}

.sidebar > .sidebar-bottom > .cover > img {
    width: 38px;
    height: 38px;
    object-fit: cover;
}

.sidebar > .sidebar-bottom > .info{
    position: absolute;
    left: 50px;
    right: 10px;
    top: 10px;
    padding: 10px 10px;
    overflow: hidden;
}

.sidebar > .sidebar-bottom > .info > small {
    width: 100%;
    font-size: 9pt;
    display: block;
}

.sidebar > .sidebar-bottom > svg{
    width: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 10px;
}

.sidebar > .sidebar-bottom:hover > svg{
    width: 20px;
    cursor: pointer;
    position: absolute;
    fill: var(--aksen-2);
    top: 20px;
    right: 10px;
}











/*
    Topbar
*/

.blur {
    position: relative;
    height: 30px;
    background-color: var(--light);
    z-index: 999;
}

.topbar {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 250px;
    overflow: unset;
    z-index: 99;
}

.topbar > .search {
    position: relative;
    background-color: var(--putih);
    padding: 10px;
    overflow: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -webkit-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -moz-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    z-index: 99;
}

.topbar > .search > .kiri,
.topbar > .search > .kanan {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topbar > .search > .kiri > button,
.topbar > .search > .kanan > button {
    display: block;
    background: none;
    box-shadow: none;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 8px;
}

.topbar > .search > .kiri > button:hover,
.topbar > .search > .kanan > button:hover,
.topbar > .search > .kiri > button:focus,
.topbar > .search > .kanan > button:focus {
    background-color: var(--abu);
}

.topbar > .search > .kiri > button > svg,
.topbar > .search > .kanan > button > svg {
    width: 22px;
    fill: var(--abu3);
}

.topbar > .search > .kiri > input {
    width: 200px;
    display: block;
    padding: 10px 10px 10px 40px;
}

.topbar > .search > .kiri > svg {
    display: block;
    position: absolute;
    width: 18px;
    left: 57px;
    fill: var(--abu3);
    cursor: pointer;
}

.topbar > .search > .kanan > .photo {
    display: block;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-transparent);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
    border: 3px solid var(--light);
    cursor: pointer;
}

.topbar > .search > .kanan > .photo:hover,
.topbar > .search > .kanan > .photo:focus {
    border: 3px solid var(--abu2);
}

.topbar > .search > .kanan > .photo > img {
    width: 37px;
    height: 37px;
    object-fit: cover;
}

    









/*
    Page
*/

.empty {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty.card-list {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty > .center {
    text-align: center;
}

.empty > .center > svg {
    fill: var(--abu3);
    width: 100px;
    margin: 10px auto;
}

.empty.card-list > .center > svg {
    fill: var(--abu2);
    width: 100px;
    margin: 10px auto;
}

.empty > .center > div.title {
    display: block;
    font-size: 18pt;
    color: var(--abu3);
    font-weight: 600;
    text-align: center;
}

.empty.card-list > .center > div.title {
    display: block;
    font-size: 18pt;
    color: var(--abu2);
    font-weight: 600;
    text-align: center;
}

.empty > .center > div.des {
    margin-top: 10px;
    font-size: 12pt;
    color: var(--abu3);
}

.empty.card-list > .center > div.des {
    margin-top: 10px;
    font-size: 12pt;
    color: var(--abu2);
}

.empty > .center > .area-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 80px;
}

.empty > .center > .area-button >  button {
    background-color: var(--primary);
    color: var(--putih);
    padding: 10px 22px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.empty > .center > .area-button >  button:hover {
    background-color: var(--primary-hover);
    box-shadow: 5px 10px 10px -12px rgba(27,132,255,0.75);
    -webkit-box-shadow: 5px 10px 10px -12px rgba(27,132,255,0.75);
    -moz-box-shadow: 5px 10px 10px -12px rgba(27,132,255,0.75);
}

.empty > .center > .area-button >  button > svg {
    width: 22px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.page {
    position: relative;
    width: auto;
    margin-top: 115px;
    margin-bottom: 58px;
    margin-left: 250px;
    z-index: 0;
    transition: margin-left .5s;
}









/*

    Grid
*/

.row {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}









/*
    Badge
*/
.badge {
    padding: 3px 5px;
    background-color: var(--abu3);
    color: var(--putih);
    border-radius: 4px;
    font-size: 10pt;
    font-weight: 500;
}

.badge.danger {
    background-color: var(--danger);
}

.badge.success {
    background-color: var(--success);
}

.badge.warning {
    background-color: var(--aksen-2);
}








/*
    Card
*/

.card {
    background-color: var(--putih);
    box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -webkit-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -moz-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    border-radius:8px;
}

.card-header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light);
}

.card-header > .title {
    font-weight: 500;
    font-size: 12pt;
}

.card-header > .opsi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header-search {
    position: relative;
    padding: 20px 30px;
    border-bottom: 1px solid var(--light);
}

.card-header-search > input {
    width: 100%;
    padding-left: 35px;
}

.card-header-search > svg {
    position: absolute;
    width: 20px;
    left: 30px;
    top: 18px;
}

.card-body {
    padding: 20px 30px;
}

.card-list > ul {
    display: block;
    padding: 0 3px;
}

.card-list > ul > li{
    position: relative;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
}

.card-list > ul.unset-cursor > li{
    cursor: unset;
    padding: 20px 30px;
}

.card-list > ul > li:hover,
.card-list > ul > li.active{
    background-color: var(--light);
}

.card-list > ul > li > .info > span {
    margin-left: 0;
}

.card-list > ul > li > .info {
    position: relative;
    width: 80%;
    z-index: 0;
}

.card-list > ul > li > .info.icon{
    width: 65%;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    z-index: 0;
}

.card-list > ul > li > .info.icon > div:nth-child(2) {
    max-width: 65%;
}

.card-list > ul > li > .info.icon span{
    display: block;
    font-weight: 500;
}

.card-list > ul > li > .info.icon p{
    margin: 10px 0;
}

.card-list > ul > li > .info.icon small{
    display: block;
    font-size: 10pt;
}

.card-list > ul > li > .info.icon > .number{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-list > ul > li > .info.icon > .number > span{
    font-weight: 600;
    font-size: 18pt;
}

.card-list > ul > li > .info.icon > .cover{
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: var(--primary-transparent);
    border-radius:8px;
}

.card-list > ul > li > .info.icon > .cover > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.card-list > ul > li > .info.icon > .opsi{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.card-list > ul > li > .opsi > button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    border-radius: 4px;
    font-size: 10pt;
    background-color: var(--abu);
    gap: 5px;
    z-index: 99;
}

.card-list > ul > li > .opsi > button > span {
    display: block;
    font-size: 10pt;
}

.card-list > ul > li > .opsi > button > svg {
    width: 18px;
}











/*
    Popup Profile
*/
.popup-profile {
    width: 270px;
    height: 0;
    position: absolute;
    top: 100px;
    right: -20px;
    overflow: hidden;
    transition: top .5s;
}

.popup-profile.show {
    width: 270px;
    height: max-content;
    top: 65px;
    transition: top .5s;
}

.popup-profile > .area,
.popup-profile.show > .area {
    width: 240px;
    padding: 20px;
    margin: 10 auto;
    background-color: var(--putih);
    border-radius: 8px;
    box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -webkit-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -moz-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
}

.popup-profile > .area > .cover,
.popup-profile.show > .area > .cover {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--primary-transparent);
}

.popup-profile > .area > .cover > img,
.popup-profile.show > .area > .cover > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.popup-profile > .area > .info,
.popup-profile.show > .area > .info,
.popup-profile.show > .area > .info {
    display: block;
    padding: 15px 0;
}

.popup-profile > .area > .info > h4,
.popup-profile > .area > .info > small,
.popup-profile.show > .area > .info > h4,
.popup-profile.show > .area > .info > small {
    display: block;
    text-align: center;
}

.popup-profile > .area > .footer-button,
.popup-profile.show > .area > .footer-button {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1px;
}

.popup-profile > .area > .footer-button > button,
.popup-profile.show > .area > .footer-button > button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--light);
    padding: 10px;
}

.popup-profile > .area > .footer-button > button:nth-child(1),
.popup-profile.show > .area > .footer-button > button:nth-child(1) {
    border-radius: 8px 0 0 8px;
}

.popup-profile > .area > .footer-button > button:nth-child(2),
.popup-profile.show > .area > .footer-button > button:nth-child(2) {
    border-radius: 0 8px 8px 0;
}

.popup-profile > .area > .footer-button > button:hover,
.popup-profile.show > .area > .footer-button > button:hover {
    background-color: var(--abu);
}

.popup-profile > .area > .footer-button > button > svg,
.popup-profile.show > .area > .footer-button > button > svg {
    width: 18px;
    margin-right: 5px;
}





/*
    Popup Standar
*/
.popup-standar {
    width: 300px;
    height: 0;
    position: absolute;
    top: 100px;
    right: -20px;
    overflow: hidden;
    transition: top .5s;
}

.popup-standar.show {
    width: 300px;
    height: max-content;
    top: 65px;
    transition: top .5s;
}

.popup-standar > .area,
.popup-standar.show > .area {
    width: 280px;
    margin: 10 auto;
    background-color: var(--putih);
    border-radius: 8px;
    box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -webkit-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
    -moz-box-shadow: -2px 2px 12px -2px rgba(89,89,89,0.12);
}

.popup-standar > .area > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.popup-standar > .area > .header > .badge {
    padding: 3px 5px;
    background-color: var(--danger);
    color: var(--putih);
    border-radius: 4px;
    font-size: 10pt;
    font-weight: 500;
}

.popup-standar > .area > .body {
    display: block;
}

.popup-standar > .area > .body > ul {
    max-height: 300px;
    overflow: auto;
    padding: 0 3px;
}

.popup-standar > .area > .body > ul > li {
    position: relative;
    padding: 10px 20px;
    min-height: 60px;
    cursor: pointer;
}

.popup-standar > .area > .body > ul > li:hover {
    background-color: var(--light);
}

.popup-standar > .area > .body > ul > li > .cover {
    position: absolute;
    top: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.popup-standar > .area > .body > ul > li > .cover > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    background-color: var(--primary-transparent);
}

.popup-standar > .area > .body > ul > li > .info {
    margin-left: 60px;
}

.popup-standar > .area > .body > ul > li > .info > div{
    display: block;
}

.popup-standar > .area > .body > ul > li > .info > small{
    display: block;
    font-size: 11pt;
    margin-top: 10px;
    color: var(--abu3);
}

.popup-standar > .area > .body > ul::-webkit-scrollbar {
    width: 5px;
}

.popup-standar > .area > .body > ul::-webkit-scrollbar-track {
    width: 5px;
    background-color: var(--light);
}

.popup-standar > .area > .body > ul::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: var(--abu);
    border-radius: 2px;
}

.popup-standar > .area > .footer {
    display: block;
    padding: 20px;
}

.popup-standar > .area > .footer > .mini-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    border-radius: 4px;
    background-color: var(--primary-transparent);
    color: var(--primary);
    margin: 0 auto;
}

.popup-standar > .area > .footer > .mini-button > svg{
    width: 18px;
}
















/*
    Media
*/

@media only screen and (max-width: 600px) {
    .sidebar {
        left: -250px;
        transition: left .5s;
    }

    .sidebar.show {
        left: 0;
        transition: left .5s;
    }

    .topbar {
        left: 0px;
        transition: left .5s;
    }

    .topbar.show {
        left: 250px;
        transition: left .5s;
    }

    .container {
        max-width: auto;
        margin: 0 20px;
    }

    .page {
        width: auto;
        margin-left: 0;
        transition: margin-left .5s;
    }

    .page.show {
        width: 500px;
        margin-left: 250px;
        transition: margin-left .5s;
    }

    .topbar > .search > .kanan > button {
        display: none;
    }

    .topbar > .search > .kiri > input {
        display: none;
    }

    .topbar > .search > .kanan > .photo {
        display: block;
    }

    .topbar.show > .search > .kanan > .photo {
        display: none;
    }

    .topbar > .search > .kiri > svg {
        display: block;
    }

    .topbar.show > .search > .kiri > svg {
        display: none;
    }
    
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 { 
        width: 100%; 
    }

    .card-list > ul > li > .opsi > button > span {
        display: none;
    }
}



@media only screen and (min-width: 600px) {
    .sidebar {
        left: -250px;
        transition: left .5s;
    }

    .sidebar.show {
        left: 0;
        transition: left .5s;
    }

    .topbar {
        left: 0px;
        overflow: unset;
        transition: left .5s;
    }

    .topbar.show {
        left: 250px;
        overflow: hidden;
        transition: left .5s;
    }

    .container {
        max-width: auto;
        margin: 0 20px;
    }

    .page {
        margin-left: 0;
        transition: margin-left .5s;
    }

    .page.show {
        margin-left: 250px;
        transition: margin-left .5s;
    }

    .topbar > .search > .kanan > button {
        display: none;
    }

    .topbar > .search > .kiri > input {
        display: none;
    }
    
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 { 
        width: 100%; 
    }

    .card-list > ul > li > .opsi > button > span {
        display: block;
    }
}



@media only screen and (min-width: 768px) {
    .sidebar {
        left: 0;
        transition: left .5s;
    }

    .sidebar.show {
        left:-250px;
        transition: left .5s;
    }

    .topbar {
        left: 250px;
        overflow: unset;
        transition: left .5s;
    }

    .topbar.show {
        left: 0;
        overflow: unset;
        transition: left .5s;
    }

    .container {
        max-width: 460px;
        margin: 0 auto;
    }

    .container.show {
        max-width: 600px;
        margin: 0 auto;
    }

    .page {
        margin-left: 250px;
        transition: margin-left .5s;
    }

    .page.show {
        margin-left: 0;
        transition: margin-left .5s;
    }

    .topbar > .search > .kanan > button {
        display: block;
    }

    .topbar > .search > .kiri > input {
        display: block;
    }
    
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 { 
        width: 100%; 
    }

    .card-list > ul > li > .opsi > button > span {
        display: block;
    }
}



@media only screen and (min-width: 992px) {
    .sidebar {
        left: 0;
        transition: left .5s;
    }

    .sidebar.show {
        left: -250px;
        transition: left .5s;
    }

    .topbar {
        left: 250px;
        overflow: unset;
        transition: left .5s;
    }

    .topbar.show {
        left: 0;
        overflow: unset;
        transition: left .5s;
    }

    .container {
        max-width: 700px;
        margin: 0 auto;
    }

    .container.show {
        max-width: 800px;
        margin: 0 auto;
    }

    .page {
        margin-left: 250px;
        transition: margin-left .5s;
    }

    .page.show {
        margin-left: 0;
        transition: margin-left .5s;
    }

    .topbar > .search > .kanan > button {
        display: block;
    }

    .topbar > .search > .kiri > input {
        display: block;
    }

    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
    }

    .card-list > ul > li > .opsi > button > span {
        display: block;
    }
}



@media only screen and (min-width: 1200px) {
    .sidebar {
        left: 0;
        transition: left .5s;
    }

    .sidebar.show {
        left: -250px;
        transition: left .5s;
    }

    .topbar {
        left: 250px;
        overflow: unset;
        transition: left .5s;
    }

    .topbar.show {
        left: 0;
        overflow: unset;
        transition: left .5s;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
    }

    .container.show {
        max-width: 1100px;
        margin: 0 auto;
    }

    .page {
        margin-left: 250px;
        transition: margin-left .5s;
    }

    .page.show {
        margin-left: 0;
        transition: margin-left .5s;
    }

    .topbar > .search > .kanan > button {
        display: block;
    }

    .topbar > .search > .kiri > input {
        display: block;
    }

    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
    }

    .card-list > ul > li > .opsi > button > span {
        display: block;
    }
}


@media only screen and (min-width: 1600px) {
    .sidebar {
        left: 0;
        transition: left .5s;
    }

    .sidebar.show {
        left: -250px;
        transition: left .5s;
    }

    .topbar {
        left: 250px;
        overflow: unset;
        transition: left .5s;
    }

    .topbar.show {
        left: 0;
        overflow: unset;
        transition: left .5s;
    }

    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    .container.show {
        max-width: 1500px;
        margin: 0 auto;
    }

    .page {
        margin-left: 250px;
        transition: margin-left .5s;
    }

    .page.show {
        margin-left: 0;
        transition: margin-left .5s;
    }

    .topbar > .search > .kanan > button {
        display: block;
    }

    .topbar > .search > .kiri > input {
        display: block;
    }

    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
    }

    .card-list > ul > li > .opsi > button > span {
        display: block;
    }
}