{layout '../../main.latte'}
{block title}{$title}{/block}
{block content}
<div class='card container'>
    <div class='card-body'>
        <form method='post' id='formInput' name='formInput'>
            <div class='form-grup'>
                <label for='email'>Email</label>
                <input data-tipe='email' class='form-control' id='email' name='email' placeholder='Contoh: email@email.com'>
            </div>
            <div class='form-grup'>
                <label for='web'>Website</label>
                <input data-tipe='web' class='form-control' id='web' name='web' placeholder='Contoh: website.com'>
            </div>
            <div class='form-grup'>
                <label for='password'>Password</label>
                <input data-tipe='password' class='form-control' id='password' name='password' placeholder='Masukan Password'>
            </div>
            <div class='form-grup'>
                <label for='tanggal'>Tanggal</label>
                <input data-tipe='tanggal' class='form-control' id='tanggal' name='tanggal' placeholder='Tanggal'>
            </div>
            <div class='form-grup'>
                <label for='jeniskelamin'>Jenis Kelamin</label>
                <select data-tipe='select' class='form-control' id='jeniskelamin' name='jeniskelamin'>
                    <option value=''>Pilih Jenis Kelamin</option>
                    <option value='laki-laki'>Laki-laki</option>
                    <option value='perempuan'>Perempuan</option>
                </select>
            </div>
            <div class='form-single-button'>
                <button>Sign up</button>
            </div>
        </form>
    </div>
</div>
{/block}